# **PYTHON**

SOLVE ME FIRST

In [4]:
def solveMeFirst(a,b):
   # Hint: Type return a+b below 
    return a + b
  


num1 = input()
num2 = input()
res = solveMeFirst(num1,num2)
print(res)

2
3
23

Simple Array Sum

In [0]:
#!/bin/python

import sys

def simpleArraySum(n, ar):
    total = 0
    for i in ar:
        total += i
    return total
    # Complete this function

n = int(raw_input().strip())
ar = map(int, raw_input().strip().split(' '))
result = simpleArraySum(n, ar)
print(result)

Compare The Triplets

In [0]:
#!/bin/python

import sys

a_triplet = map(int, raw_input().split())
b_triplet = map(int, raw_input().split())
alice_points = 0
bob_points = 0
for a_val, b_val in zip(a_triplet, b_triplet):
    if a_val < b_val:
        bob_points += 1
    elif a_val > b_val:
        alice_points += 1
print alice_points, bob_points

A Very Big Sum

In [0]:
#!/bin/python

import sys

def aVeryBigSum(n, ar):
    total = 0
    for i in ar:
        total += i
    return total
    # Complete this function

n = int(raw_input().strip())
ar = map(long, raw_input().strip().split(' '))
result = aVeryBigSum(n, ar)
print(result)

Diagonal Difference

In [0]:
#!/bin/python

import sys

n = int(raw_input().strip())
a = []
for a_i in xrange(n):
    a_temp = map(int,raw_input().strip().split(' '))
    a.append(a_temp)
sum1=0
sum2=0
for i in xrange(len(a)):
    sum1 += a[i][i]
    sum2 += a[i][len(a)-1-i]
print abs(sum1-sum2)

# SQL

Revising the Select Query I

In [0]:
select *
from CITY
where COUNTRYCODE="USA" and POPULATION > 100000

Revising the Select Query II

In [0]:
select NAME
from CITY
where COUNTRYCODE="USA" and POPULATION > 120000

Select All

In [0]:
select * 
from CITY

Select By ID

In [0]:
select *
from CITY
where ID=1661

Japanese Cities' Attributes

In [0]:
select *
from CITY
where COUNTRYCODE="JPN"

Japanese Cities' Names

In [0]:
select NAME
from CITY
where COUNTRYCODE="JPN"

Weather Observation Station 1

In [0]:
select CITY, STATE
from STATION

Weather Observation Station 3

In [0]:
select distinct city
from STATION
where (ID%2)=0

Weather Observation Station 4

In [0]:
select (count(CITY) - count(distinct CITY))
from STATION

Weather Observation Station 5

In [0]:
SELECT CITY, LENGTH(CITY) FROM STATION ORDER BY LENGTH(CITY), CITY ASC LIMIT 1; 
SELECT CITY, LENGTH(CITY) FROM STATION ORDER BY LENGTH(CITY) DESC LIMIT 1;